<!-- Footer -->
<footer class="text-center text-lg-start bg-light text-muted mt-5">
  <!-- Copyright -->
  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    © 2021 Copyright:
    <a class="text-reset fw-bold" href="/">F8</a>
  </div>
  <!-- Copyright -->
</footer>
<!-- Footer -->